<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Form</title>
</head>
<body>
    <form action="{{ url_for('addrec') }}" method="POST">
        <p><input type="text" name="nm" placeholder="Name"></p>
        <textarea name="add" placeholder="Address"></textarea>
        <p><input type="text" name="city" placeholder="City"></p>
        <p><input type="text" name="pin" placeholder="PIN"></p>
        <p><input type="submit" value="Submit"></p>
    </form>
</body>
</html>
